@media screen and (max-width: 1199px) {
	.detailsSign {
        width: 100%;
    }
    .titleSign>h1 {
    margin-bottom: 10px;
    font-size: 16px;
    }
    .logoSite {
    position: absolute;
    bottom: 5px;
    left: 100px;
    display: block;
    }
    .btn_submit_blue {
    margin: 10px auto;
    width: 100%;
    }
    .titleSign{
        margin-bottom: 10px;
    }
    .signImage>img {
        width: 300px;
    }
    .signIn{
        padding: 40px 0;
    }
    #signIn{
        margin: 0 10px;
    }
}
@media screen and (max-width: 991px) {

	
}
@media screen and (max-width: 767px) {
   
}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 500px) {
	
}
@media screen and (max-width: 450px) {

}
@media screen and (max-width: 420px) {}