@font-face {
  font-family: 'DroidKufiBold';
  src: url('../fonts/DroidKufi-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'DroidKufiNormal';
  src: url('../fonts/DroidKufi-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/Raleway-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/Raleway-Medium.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}
body{
    background-color: #F7F7F7;
    font-size:12px;
    font-weight:400;
    font-family: 'RalewayMedium', 'DroidKufiNormal';
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'RalewayBold', 'DroidKufiBold';
  font-weight: bold;
  font-style: normal;
  margin: 0;
}
p{
  margin:0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


a,button {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

p{
  margin: 0;
}
a {
  cursor: pointer !important;
  text-decoration: none !important;
  color: #fff;
}
a:hover,a:active,a:focus,a:visited{
  text-decoration: none !important;
    color: #ffffff;
}

input, textarea, a, button {
  outline: none !important;
  text-decoration: none;
}

img{
  max-width: 100%;
}

.main-wrapper {
  position: relative;
  min-height: 100%;
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
}


/*==================================
            sign in
====================================*/
#signIn{
    position: relative;
}
.imgSign{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    border-radius: 20px;
    position: relative;
    z-index: 1111;
}
.signIn{
    width: 100%;
    background:linear-gradient(to bottom right, #29363C, #000000);
    padding: 40px 30px;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    color: #fff;
    border-radius: 20px;
    position: relative;
}
.signinSite:before{
    content: url(../images/rightShap.svg);
    position: absolute;
    right: 0;
}
.signinSite:after{
    content: url(../images/leftShap.svg);
    position: absolute;
    left: 0;
    bottom: 140px;
    z-index: 000000000;
    height: 500px;
}
.signinSite{
    background: transparent;
    border-radius: 20px;
    margin: 50px 0 0;
}
.signImage{
    position: absolute;
    top: 0;
    left: 0;
}
.signImage>img{
    width: 710px;
    height: 480px;
   /* clip-path: polygon(0% -97%, 0 100%, 100% 0%);*/
    clip-path: polygon(0% -97%, 0 131%, 105% 0%);
}
.detailsSign{
    width: 50%;
    padding: 20px 30px;
    margin-top: 10px;
}
.titleSign{
    text-align: center;
    margin-bottom: 40px;
}
.titleSign>h1{
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 35px;
}
.form-control {
    height: 45px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.form-group>label{
     margin-bottom: 5px;
}
.remember{
    display: block;
    text-decoration: underline !important;
}
.logoSite{
    position: absolute;
    bottom: 50px;
    left: 300px;
    display: block;
}
.btn_submit_blue{
    display: block;
    width: 90%;
    margin: 50px auto;
    background: #fff;
    color: #A9817F !important;
    font-size: 16px;
    height: 40px;
}
::placeholder{
    color: #fff !important;
}




